# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.turbo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# VitePress
.vitepress/cache
.vitepress/dist
packages/docs/.vitepress/cache
packages/docs/.vitepress/dist

# Testing
coverage

#docs
packages/app/public/docs